.navbar {
    background-color: rgb(0, 128, 255);
    overflow: hidden;
    justify-content: left;
    align-items: center;
    height: 10%;
    display: flex;
}

.navbar a {
    font-size: 36px;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar img {
    height: 64px;
}

.welcome-body {
    background-color: rgb(0, 192, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.welcome-body h1 {
    font-size: 128px;
    margin-bottom: 0;
    margin-left: 5%;
    margin-top: 0;
}

.welcome-body p {
    margin-top: 0;
    margin-left: 5%;
    font-size: 36px;
    flex-wrap: wrap;
    width: 75%
}